# Feature Adjustments
### Transformation, Selection, Engineering

#### Load Data

In [2]:
import pandas as pd

In [12]:
df = pd.read_parquet('data/201805-citibike-tripdata.parquet')

In [17]:
df.head()
df.dtypes

tripduration      int64
starttime        object
stoptime         object
startID           int64
startlat        float64
startlon        float64
endID             int64
endlat          float64
endlon          float64
bikeid            int64
usertype         object
userbirth         int64
usergender        int64
dtype: object

In [20]:
import numpy as np
import math
from numpy import cos, sin, arcsin, sqrt
from math import radians

df['distance'] = 3959 * 2 * np.arcsin(np.sqrt(np.sin((np.radians(df['startlat']) - np.radians(df['startlat']))/2)**2 + np.cos(np.radians(df['endlat'])) * np.cos(np.radians(df['startlat'])) * np.sin((np.radians(df['startlon']) - np.radians(df['endlon']))/2)**2))

df.head()

,tripduration,starttime,stoptime,startID,startlat,startlon,endID,endlat,endlon,bikeid,usertype,userbirth,usergender,distance
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,40.767272,-73.993929,514,40.760875,-74.002777,30567,Subscriber,1965,1,0.463048
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,40.767272,-73.993929,426,40.717548,-74.013221,18965,Subscriber,1956,1,1.009962
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,40.767272,-73.993929,3435,40.718822,-73.995960,30241,Subscriber,1959,2,0.106332
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,40.767272,-73.993929,477,40.756405,-73.990026,28985,Subscriber,1986,1,0.204253
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,40.767272,-73.993929,530,40.771522,-73.990541,14556,Subscriber,1991,1,0.177290

In [21]:
max(df.distance)
min(df.distance)

0.0

In [11]:
# from math import radians, cos, sin, asin, sqrt
# def haversine(lon1, lat1, lon2, lat2):
#     """
#     Calculate the great circle distance between two points 
#     on the earth (specified in decimal degrees)
#     """
#     lon1 = row["startlon"] 
#     lat1 = row["startlat"] 
#     lon2 = row["endlon"]
#     lat2 = row["endlat"]    
#     # convert decimal degrees to radians 
#     lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
#     # haversine formula 
#     dlon = lon2 - lon1 
#     dlat = lat2 - lat1 
#     a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
#     c = 2 * asin(sqrt(a)) 
#     # Radius of earth in miles is 3959
#     mi = 3959 * c
#     return mi

# # latlong_df = df[["startlon", "startlat", "endlon", "endlat"]]
# df["distance"] = df.apply(lambda row: haversine(row), axis=1)
# df.head()

TypeError: haversine() missing 3 required positional arguments: 'lat1', 'lon2', and 'lat2'

In [1]:
citi = pd.read_parquet('data/selection/citi_full.parquet')

In [2]:
citi.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,gender,start station id,start station latitude,start station longitude,starttime,stoptime,tripduration,usertype
0,31956,1992,505.0,40.749013,-73.988484,1,72.0,40.767272,-73.993929,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,970,Subscriber
1,32536,1969,3255.0,40.750585,-73.994685,1,72.0,40.767272,-73.993929,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,723,Subscriber
2,16069,1956,525.0,40.755942,-74.002116,1,72.0,40.767272,-73.993929,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,496,Subscriber
3,31781,1974,447.0,40.763707,-73.985162,1,72.0,40.767272,-73.993929,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,306,Subscriber
4,30319,1992,3356.0,40.774667,-73.984706,1,72.0,40.767272,-73.993929,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,306,Subscriber

In [5]:
citi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56061119 entries, 0 to 56061118
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   bikeid                   int64
 1   birth year               int64
 2   end station id           float64
 3   end station latitude     float64
 4   end station longitude    float64
 5   gender                   int64
 6   start station id         float64
 7   start station latitude   float64
 8   start station longitude  float64
 9   starttime                object
 10  stoptime                 object
 11  tripduration             int64
 12  usertype                 object
dtypes: float64(6), int64(4), object(3)
memory usage: 5.4+ GB

In [19]:
from datetime import datetime, timedelta
%timeit 
citi['birthyear'] = citi['birth year'].astype(int)
citi['duration'] = list(map(lambda x: str(timedelta(seconds=x)), citi['tripduration']))

In [20]:
# citi.plot.scatter(x='birthyear',y='tripduration')
# citi.plot.scatter(x='birthyear',y='duration')

In [ ]:
citi['starttime'] = list(map(lambda x: pd.to_datetime(x,'coerce','%Y/%m/%d %H:%M:%S'), citi['starttime']))

In [ ]:
citi['starttime'] = list(map(lambda x: datetime.strptime(x, '%Y/%m/%d %H*:%M:%S'), citi['starttime']))
citi['DoW'] = citi['starttime'].dt.day_of_week

In [ ]:
# citi['Month'] = 
# citi['Year'] = 
# citi['Rush']
# citi_df.drop(['birth year','tripduration'])
citi.head()

In [ ]:
.citi_df.groupby('usertype')['usertype'].value_counts().plot.bar()
# citi_df.groupby('usertype')['usertype'].value_counts().plot.pie()

In [ ]:
citi_df.head()

In [ ]:
## CONVERT TIMESTAMP TO DATETIME OBJECT ##
import datetime

type(citi_df['birth year'])

In [ ]:
## CREATE 'AGE' FEATURE ## 
citi_df['Year'] = 
citi_df['Month'] =  
citi_df['Day'] = 
citi_df['Age'] = citi_df['Date']

In [ ]:
df = pd.read_csv('201911-citibike-tripdata.csv')
df.columns.str.lower()
df = df.drop(['start station name','end station name','unnamed: 0'], errors='ignore', axis=1)
list(df.columns) == ['tripduration', 'starttime', 'stoptime', 'start station id',
                      'start station latitude','start station longitude', 'end station id', 
                      'end station latitude', 'end station longitude', 'bikeid', 
                      'usertype','birth year', 'gender']
# df.columns

In [ ]:
pd.read_parquet('201911-citibike-tripdata.parquet').head()

In [ ]:
citi_df.shape()

In [ ]:
citi_df.head()

In [ ]:
citi_df.to_csv('./data/CitiBikeFull.csv')

**To get items onto BigQuery** (Charles)
- for loop to clean / null impute
- upload to google cloud
- big query

In [ ]:
citi_df.to_csv('/data/CitiBikeClean.csv')

### Feature Selection
- Drop: station names, bike id
- Transform: Age, Duration, Distance